!comment_attachment/
!post_attachment/
/prof/*
!prof/preset_boy.png
!prof/preset_man.png
!prof/preset_woman.png
!prof/preset_girl.png
!prof/preset_girl2.png
!prof/preset_kuma.png
!prof/preset_line.png
!prof/preset_zou.png
!prof/preset_penguin.png
!prof/preset_white.png
!.gitignore
